* {
  box-sizing: border-box
}
main{
  width: 60%;
  margin: 4% auto ;

}
form{
  border:1px solid #ccc;
}
a{
  color:dodgerblue;
}
label{
  display: block;
}
  input[type=text], input[type=password], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
 input[type=number] , select{
  width: 32%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input:focus, select:focus {
  background-color: #ddd;
  outline: none;
}
#check{
  display: block;
  width: 100%;
}
#gend-label{

}
.inlinelabel{
  display: inline-block;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #F35116;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background:  #2E4A78;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}


.container {
  padding: 16px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#remember{
  margin-bottom:15px
}

@media screen and (max-width: 480px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}